h1{
    
    text-align: center;
    border-style:solid;
    border-color:antiquewhite;
    border-width: 4pt;
    padding: 3pt;
    font-size: 36pt;
    font-family: Courier;
    word-wrap: normal;
    max-width: max-content;
    padding-left: 20pt;
    padding-right: 20pt;
    margin-left: auto;
    margin-right: auto;
    
}

.container{
    display: flex;
    margin-top: 40pt;
    margin-left: 100pt;
    margin-right: 100pt;
    
}

.text{
    flex:1;
    font-family: sans-serif;
    padding-left: 6pt;
    font-size: 18pt;
    text-align: left;
    border-color: bisque;
    border-left-style:groove;
    border-left-width: 8pt;
}
.imagee{
    float: right;
    border-style: groove; 
    border-width: 10pt;
    border-color:antiquewhite;
}

th{
    padding-right: 10pt;
}