table{
    border-collapse: collapse;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

td{
    text-align: center;
    padding-right: 60pt;
    padding-bottom: 20pt;
    border-style: solid;
    border-width: 1px;
}